* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

:root {
    --header: #0084fd;
    --benefits: #b5ddff;
    --main-color: #9792e4;
}

header {
    background-color: var(--header);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.margin-auto {
    width: 90%;
    margin: 0 auto;
}

.card {
    border-radius: 20px;
    padding: 15px;
}

.d-inline-block {
    display: inline-block;
}

.btn {
    border-radius: 28px;
    padding: 12px;
    text-decoration: none;
}
.btn-white {
    background-color: white;
    color: black;
}
.btn-blue {
    background-color: #0084fd;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 5px;
}
.btn-violet {
    background-color: var(--main-color);
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 5px;
}

.hidden-list {
    display: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header a {
    color: white;
    font-size: 18px;
}


.columns {
    margin-top: 80px;
}

.col {
    background-color: var(--benefits);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.big-col {
    padding-bottom: 0;
    text-align: left;
}

.margin-all-15 > * {
    margin: 15px 0;
}

.text h2 {
    color: #0084fd;
}

p {
    line-height: 1.8;
}

.img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.icon i {
    font-size: 80px;
    color: #0084fd;
}

.planning {
    background-color: var(--main-color);
    padding: 20px 0;
}


.planning-text{
    color: white;
}

.planning .card {
    background-color: white;
    text-align: center;
}

.planning span {
    padding: 20px;
    background-color: #9792e4;
    border-radius: 50%;
}

.testimonials {
    margin-top: 20px;
}

.testimonials-text {
    text-align: center;
}

.testimonials-text h2 {
    color: var(--main-color);
}

.testimonials img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.testimonials .card {
    text-align: center;
    background-color: var(--main-color);
    margin: 20px 0;
    color: white;
}

.benefits {
    background-color: var(--main-color);
    padding: 20px 0;
}

.benefits .card {
    background-color: white;
    margin: 20px 0;
}

.benefits h3 {
    color: var(--main-color);
}
.benefits span {
    color: var(--main-color);
    font-size: 20px;
}

.about {
    margin: 20px 0;
}

.about h2 {
    color: var(--main-color);
}

.about-img {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-image: url("../img/testimonial2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.about-img i {
    position: absolute;
    left: 120px;
    font-size: 50px;
    color: var(--main-color);
}

.about a {
    background-color: var(--main-color);
    color: white;
}

.get-started {
    background-color: var(--main-color);
}

.debug .get-started .container > div {
    border: 1px solid black;
    height: 200px;
    background-color: white;
}

.get-started {
    padding: 20px 0;
}

footer {
    background-color: black;
    padding: 20px 0;
}

.debug footer .container > div {
    border: 1px solid black;
    height: 200px;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .margin-auto {
        width: 70%;
    }
    .presentation .columns {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    .col:first-child {
        width: calc((100% / 3) * 2 - 1.5rem);
    }

    .big-col img {
        margin: 0;
    }
    
    .col {
        width: calc((100% / 3) - 1.5rem);
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }

    .planning img {
        width: 50%;
    }

    .testimonials .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .benefits .container {
        display: flex;
        flex-wrap: wrap;
    }
    .benefits .card {
        width: calc((100% / 2) - 1.5rem);
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    .about .container {
        display: flex;
        justify-content: flex-start;
    }

    .about .container > div:first-child {
        width: 70%;
        margin-right: 25px;
    }

    .get-started .margin-auto {
        width: 50%;
    }
    footer .margin-auto {
        width: 50%;
    }
}
@media screen and (min-width: 1050px) {
    .margin-auto {
        width: 1030px;
    }
    .hidden-list {
        list-style-type: none;
        display: flex;
    }
    
    .hidden-list li {
        padding: 10px;
    }
    .hidden-bars {
        display: none;
    }
    .big-col {
        display: flex;
    }
    .big-col img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    
    .col:first-child > div {
        width: 50%;
    }
    .planning .container {
        display: flex;
    }

    .testimonials .card {
        text-align: left;
    }

    .testimonials .card img {
        margin-right: 20px;
    }

    .benefits .container {
        display: flex;
        flex-wrap: wrap;
    }
    .benefits .card {
        width: calc((100% / 3) - 1.5rem);
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }

    .get-started .margin-auto {
        width: 40%;
    }
    footer .margin-auto {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .margin-auto {
        max-width: 1170px;
    }
}