* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: #0084fd;
    --benefits: #b5ddff;
    --planning: #9792e4;
}

header {
    background-color: var(--header);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.margin-auto {
    width: 90%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.columns {
    margin-top: 80px;
}

.col {
    background-color: var(--benefits);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.planning {
    background-color: var(--planning);
    padding: 20px 0;
}

.debug .planning .container > div {
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}


@media screen and (min-width: 768px) {
    .margin-auto {
        width: 70%;
    }
    .benefits .columns {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    .col:first-child {
        width: calc((100% / 3) * 2 - 1.5rem);
    }
    .col {
        width: calc((100% / 3) - 1.5rem);
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
}
@media screen and (min-width: 1024px) {
    .margin-auto {
        width: 60%;
    }
    .col:first-child {
        display: flex;
    }
    .col:first-child > div {
        width: 50%;
    }
    .planning .container {
        display: flex;
        
    }
    .debug .planning .container > div {
        width: 50%;
    }
}